[
 ;; records
 
 {:record/text "first record changed"
  :uuid #uuid "5c444f10-c0f5-4eef-b004-ef9331b487a2"
  :record/type "test"
  :record/tags ["datomic" "database" "schema" "design"]}

 
;; ideas
 
;  {:idea/text "expression"
;   :uuid #uuid "5c44516b-0ffb-463c-846c-cc6c71227ea0"
;   :idea/threads [:thread/energy :thread/engineering]
;   :attribute/score 90
;   :idea/designs [:uuid #uuid "5c44516f-b838-4cdb-b302-fb7679f7fd6e"]
; ;   :idea/requirements [{:uuid #uuid "5c445170-9a35-4be1-b70d-2f6ee6c880be"}]
;   }
 
 ;; requirements
;  {:requirement/text "runs in docker"
;   :uuid #uuid "5c445170-9a35-4be1-b70d-2f6ee6c880be"
;   :idea/threads [ :thread/engineering]
;   :attribute/score 95
;   :idea/designs [{:uuid #uuid "5c44516f-b838-4cdb-b302-fb7679f7fd6e"}]}
 

;; designs
 
 {:design/name "'expression' design"
  :uuid #uuid "5c44516f-b838-4cdb-b302-fb7679f7fd6e"}

 
 ]


