[
 {:movie/title "The Goonies"
  :movie/genre "action/adventure"
  :movie/release-year 1985}
 
 {:movie/title "Commando"
  :movie/genre "action/adventure"
  :movie/release-year 1985}
 
 {:movie/title "Repo Man"
  :movie/genre "punk dystopia"
  :movie/release-year 1984}
 
 ]